/* Inria Sans Font import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";


@theme {
  /** Temp Colors */
  --color-caput-mortuum: #562C2C;
  --color-cinnabar: #F2542D;
  --color-wheat: #F5DFBB;

  /** Inria Sans Font */
  --font-inria: "Inria Sans", sans-serif;

  /** Project Colors */
  --color-primary: #243677;
  --color-primary-hover: #182b71; 
  --color-secondary: #ebbd47;
  --color_accent: #175151;
  --color_success: #3d5300;
  --color-error: #ff3131;
  --color-background: #f5f5f5;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;
  --color-input-bg: #f3f6fb;
  --color-text: #000000;
}

/* ------------------------------------------------- */
/* ----------- COMMON COMPONENTS STYLING ----------- */
/* ------------------------------------------------- */

@utility message-section-icon {
  @apply size-24 text-red-700
}

@utility section-title {
  @apply text-3xl font-semibold tracking-tight text-primary font-inria
}

@utility section-error-title {
  @apply text-3xl font-semibold tracking-tight text-red-700 font-inria
}

@utility h3-title {
  @apply font-bold font-inria text-center text-primary border-b-secondary w-3/4 text-lg;
}

/* --------------------------------------------- */
/* ----------- UI COMPONENTS STYLING ----------- */
/* --------------------------------------------- */

/* ------ DOUBLE SLIDER ------ */
@utility double-slider-container {
  @apply w-full h-1/3 flex flex-col justify-between items-center px-6
}

/* ------------------------------------------- */
/* ----------- SEARCH PAGE STYLING ----------- */
/* ------------------------------------------- */

@utility main-container {
  @apply w-screen h-full flex items-center justify-center bg-background
}

@utility section-container {
  @apply bg-surface w-5/6 h-3/4 border-3 border-border rounded-xl p-8 space-y-4 flex flex-col items-center
}

@utility section-error-message {
  @apply w-full flex justify-center text-red-500 h-[50px]
}

@utility filter-section-container {
  @apply w-full h-full flex flex-row gap-x-4
}

@utility filter-type-container {
  @apply w-1/3 flex flex-col items-center space-y-4
}

@utility filter-type-circle {
  @apply w-[17px] h-[15px] border-2 border-secondary rounded-full
}

@utility filter-type-option {
  @apply flex w-full text-left py-2 px-3 hover:bg-caput-mortuum/10
}

@utility filter-slider-container {
  @apply w-2/3 flex flex-col justify-between
}