@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-caput-mortuum: #562C2C;
  --color-cinnabar: #F2542D;
  --color-wheat: #F5DFBB;
}